In [211]:
import pandas as pd
import numpy as np
try:
    classFile = input('Enter a class file to grade (i.e. class1 for class1.txt): ')
    df = pd.read_fwf('DataFiles/'+classFile+".txt", names=["RawData"])
    print("Successfully opened " + classFile + ".txt")
except:
    print("File cannot be found ")

Successfully opened class2.txt

In [212]:
import regex as re
rex = re.compile("^N[0-9]{8}$")
print("**** ANALYZING ****")
    
def checkValid(rawData):
    listItem = rawData.split(",")
    if len(listItem) != 26:
        print("Invalid line of data: does not contain exactly 26 values:\n" + rawData)
        return False
    id = listItem[0]
    if not rex.match(id):
        print("Invalid line of data: N# is invalid:\n" + rawData)
        return False
    return True

**** ANALYZING ****

In [213]:
df["isValid"] = df['RawData'].apply(checkValid)

Invalid line of data: does not contain exactly 26 values:
N00000023,,A,D,D,C,B,D,A,C,C,,C,,B,A,C,B,D,A,C,A,A
Invalid line of data: N# is invalid:
N0000002,B,A,D,D,C,B,D,A,C,D,D,D,A,,A,C,D,,A,C,A,A,B,D,D
Invalid line of data: N# is invalid:
NA0000027,B,A,D,D,,B,,A,C,B,D,B,A,,A,C,B,D,A,,A,A,B,D,D
Invalid line of data: does not contain exactly 26 values:
N00000035,B,A,D,D,B,B,,A,C,,D,B,A,B,A,A,B,D,A,C,A,C,B,D,D,A,A

In [214]:

df.head()

                                             RawData  isValid
0  N00000021,B,A,C,D,C,C,D,D,C,C,D,B,,B,A,C,B,,A,...     True
1  N00000022,B,A,D,A,C,B,D,D,C,C,D,B,A,B,A,,B,A,A...     True
2  N00000023,,A,D,D,C,B,D,A,C,C,,C,,B,A,C,B,D,A,C...    False
3  N00000024,C,C,D,D,C,B,,A,C,C,D,B,A,B,,C,B,D,A,...     True
4  N0000002,B,A,D,D,C,B,D,A,C,D,D,D,A,,A,C,D,,A,C...    False

In [215]:
print("**** REPORT ****")

valid_col = df['isValid']
print("Total valid lines of data: %d" %valid_col.loc[valid_col == True].count())
print("Total invalid lines of data: %s" %valid_col.loc[valid_col == False].count())

**** REPORT ****
Total valid lines of data: 21
Total invalid lines of data: 4

In [216]:
def getIdOnly(raw):
    id = raw.split(',').pop(0)
    return id

In [217]:
df = df.loc[df['isValid'] == True]
df.head()

                                             RawData  isValid
0  N00000021,B,A,C,D,C,C,D,D,C,C,D,B,,B,A,C,B,,A,...     True
1  N00000022,B,A,D,A,C,B,D,D,C,C,D,B,A,B,A,,B,A,A...     True
3  N00000024,C,C,D,D,C,B,,A,C,C,D,B,A,B,,C,B,D,A,...     True
5  N00000026,B,C,D,D,C,D,B,A,C,D,D,,A,B,A,C,B,D,,...     True
7  N00000028,B,A,D,D,D,B,D,A,C,C,,,A,B,A,,B,D,C,C...     True

In [218]:
answer_key = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D".split(",")
def getScore(raw):
    list = raw.split(',')
    list.pop(0)
    empty_answer = list.count("")
    result = np.compare_chararrays(list,answer_key, "==", False)
    correct_answer = np.count_nonzero(result == True)
    wrong_answer = np.count_nonzero(result==False) - empty_answer
    score = correct_answer*4 - wrong_answer
    return score

In [219]:
df['id'] = df['RawData'].apply(getIdOnly)
df['score'] = df['RawData'].apply(getScore)
df.head()

,RawData,isValid,id,score
0,"N00000021,B,A,C,D,C,C,D,D,C,C,D,B,,B,A,C,B,,A,...",True,N00000021,68
1,"N00000022,B,A,D,A,C,B,D,D,C,C,D,B,A,B,A,,B,A,A...",True,N00000022,76
3,"N00000024,C,C,D,D,C,B,,A,C,C,D,B,A,B,,C,B,D,A,...",True,N00000024,73
5,"N00000026,B,C,D,D,C,D,B,A,C,D,D,,A,B,A,C,B,D,,...",True,N00000026,72
7,"N00000028,B,A,D,D,D,B,D,A,C,C,,,A,B,A,,B,D,C,C...",True,N00000028,73

In [220]:
score_row = df['score']
print("Mean (average) score: %.2f"  %score_row.mean())
print("Highest score: %d" %score_row.max())
print("Lowest score: %d" %score_row.min())
print("Range of scores: %d" %(score_row.max()-score_row.min()))
print("Median score: %.0f" %score_row.median())

Mean (average) score: 78.00
Highest score: 100
Lowest score: 66
Range of scores: 34
Median score: 76

In [221]:
print_df = df[['id', 'score']]
print_df.to_csv('DataFiles/'+classFile+"_grades.txt", header=None, index=None)
print_df

           id  score
0   N00000021     68
1   N00000022     76
3   N00000024     73
5   N00000026     72
7   N00000028     73
8   N00000029     87
9   N00000030     82
10  N00000031     76
11  N00000032     87
12  N00000033     77
13  N00000034     69
15  N00000036     77
16  N00000037     75
17  N00000038     73
18  N00000039     66
19  N00000040     73
20  N00000041     91
21  N00000042    100
22  N00000043     86
23  N00000044     90
24  N00000045     67